.App {
  text-align: center;
}

*{
  box-sizing: border-box;
}

.mainContent{
  justify-content: center;
  margin: 0vw;
  padding: 0vw;
  width: 100vw;
}

.largeText{
  position: absolute;
  z-index: 1;
  color: rgba(255, 0, 0, 0.4);
  font-weight: bold;
  font-size: 10vw;
  font-family: 'Courier New', Courier, monospace;
}

.image{
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  width: 100vw;
  background-color: aqua;
}

.bcgImage{
  width: 100vw;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.mainHeader{
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: auto;
  width: 100vw;
  height: 60vh;
}

.headerElement{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: rgb(255, 254, 254);
  justify-content: center;
  text-align: center;
  height: 60vh;
  width: 45vw;
  margin-top: -80px;
  z-index: 2;
  padding-top: 1px;
  overflow: hidden;
}


.headerEle{
  height: 20vh;
  width: 40vw;
  font-size: 2vh;
  margin-top: 15px;
}

.headerEleImage{
  height: 50vh;
  width: 45vw;
  justify-content: center;
  align-items: center;
}

.headerImg{
  height: 100%;
  width: 100%;
}

.smallText{
  margin-top: -10px; 
}

.bigText2{
  margin: 0px;
  padding: 0px;
  padding-left: 0px;
  margin-right: auto;
  font-size: 3vw;
  color: rgb(75, 172, 19);
}

hr{
  border: 1px solid black;
  width: 100vw;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.content{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  justify-content: flex-end;
}

.contentText{
  font-size: 2vh;
  width: 40vw;
}

.contentImage{
 margin: auto;
 width: 40vw;
 height: 30vh;
 text-align: right;
}

.imgContent{
  width: auto;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
