.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.mainContent {
  justify-content: center;
  margin: 0vw;
  padding: 0vw;
  width: 100vw;
}

.largeText {
  color: rgba(255, 0, 0, 0.4);
  font-family: 'Courier New', Courier, monospace;
  font-size: 10vw;
  font-weight: bold;
  position: absolute;
  z-index: 1;
}

.image {
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.bcgImage {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  z-index: 0;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 60vh;
  justify-content: center;
  margin: auto;
  width: 100vw;
}

.headerElement {
  align-items: center;
  background-color: rgb(255, 254, 254);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 60vh;
  justify-content: center;
  margin-top: -80px;
  overflow: hidden;
  padding-top: 1px;
  text-align: center;
  width: 45vw;
  z-index: 2;
}


.headerEle {
  font-size: 2vh;
  height: 20vh;
  margin-top: 15px;
  width: 40vw;
}

.headerEleImage {
  align-items: center;
  height: 50vh;
  justify-content: center;
  width: 45vw;
}

.headerImg {
  height: 100%;
  width: 100%;
}

.smallText {
  margin-top: -10px; 
}

.bigText2 {
  color: rgb(75, 172, 19);
  font-size: 3vw;
  margin: 0px;
  padding: 0px;
  padding-left: 0px;
  margin-right: auto;
}

hr {
  border: 1px solid black;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100vw;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
  overflow-x: hidden;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: flex-end;
  overflow-x: hidden;
  width: 100vw;
}

.contentText {
  font-size: 2vh;
  width: 40vw;
}

.contentImage {
  height: 30vh;
  margin: auto;
  text-align: right;
  width: 40vw;
}

.imgContent {
  height: 100%;
  width: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
